html(lang="en")
    head
        title Open Podcast
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://rsms.me/inter/inter.css")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="xl:bg-contain bg-top bg-no-repeat", style="background-image: url('metis-assets/backgrounds/intersect.svg');")
                div(class="container px-4 mx-auto")
                    nav(class="flex justify-between items-center py-6")
                        a(class="text-3xl font-semibold leading-none", href="#")
                            img(src="images/logo.svg", alt="Open Podcast", class="w-56", width="100")
                        div(class="lg:hidden")
                            button(class="navbar-burger flex items-center py-2 px-3 text-blue-600 hover:text-blue-700 rounded border border-blue-200 hover:border-blue-300")
                                svg(class="fill-current h-4 w-4", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                                    title Mobile menu
                                    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                        ul(class="hidden lg:flex lg:items-center lg:w-auto lg:space-x-12")
                            li               
                            li               
                            li               
                            li             
                        div(class="hidden lg:block")
                            a(class="inline-block px-4 py-3 text-xs font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="#") Registrieren
                    div(class="pt-12 text-center")
                        div(class="max-w-lg mx-auto mb-8")
                            h2(class="text-3xl md:text-4xl mb-4 font-bold font-heading")
                                span Das
                                |                 
                                span(class="text-blue-600") Pro Tool
                                |                 
                                span(contenteditable="false")
                                    | für
                                    br
                                    | Podcast Analytics
                            p(class="text-blueGray-400 leading-relaxed", contenteditable="false") Alle Spotify und Apple Statistiken an einem Ort.
                            |               
                        div
                            a(class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Demo
                            a(class="block sm:inline-block py-4 px-8 text-xs text-blueGray-500 hover:text-blueGray-600 text-center font-semibold leading-none bg-white rounded", href="#") Dokumentation
                div(class="relative max-w-6xl mt-16 md:mt-8 mb-8 mx-auto")
                    img(src="metis-assets/elements/pattern.png", alt="")
                    div(class="absolute", style="top: 9%; left: 14%; width: 72%; height: 66%;")
                        img(class="rounded shadow-2xl", src="images/Screenshot-2023-03-20-at-18-23-47.png", alt="")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap items-center justify-center max-w-4xl mx-auto pt-8 pb-12")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="images/ML-Logo.webp", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto", src="images/engineering-kiosk-logo.png", alt="")
                        div(class="w-1/2 md:w-1/3 lg:w-1/5 px-3 mb-8")
                            img(class="mx-auto w-32", src="images/open-podcast-small-transparent.png", alt="")
                div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50")
                    div(class="navbar-backdrop fixed inset-0 bg-blueGray-800 opacity-25")
                    nav(class="relative flex flex-col py-6 px-6 w-full h-full bg-white border-r overflow-y-auto")
                        div(class="flex items-center mb-8")
                            a(class="mr-auto text-3xl font-semibold leading-none", href="#")
                                img(src="images/logo.svg", alt="Open Podcast", width="100")
                            button(class="navbar-close")
                                svg(class="h-6 w-6 text-blueGray-400 cursor-pointer hover:text-blueGray-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                    path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M6 18L18 6M6 6l12 12")
                        div
                            ul
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Product
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Company
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") About Us
                                li(class="mb-1")
                                    a(class="block p-4 text-sm text-blueGray-500 hover:bg-blue-50 hover:text-blue-600", href="#") Features
                            div(class="mt-4 pt-6 border-t border-blueGray-100")
                                a(class="block px-4 py-3 mb-3 text-xs text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 text-white rounded", href="#") Registrieren
                                a(class="block px-4 py-3 mb-2 text-xs text-center text-blue-600 hover:text-blue-700 font-semibold leading-none border border-blue-200 hover:border-blue-300 rounded", href="#") Log In
                        div(class="mt-auto")
                            p(class="my-4 text-xs text-blueGray-400")
                                span Get in Touch
                                |                 
                                a(class="text-blue-600 hover:text-blue-600 underline", href="#") info@example.com
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/facebook-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/twitter-blue.svg", alt="")
                            |               
                            a(class="inline-block px-1", href="#")
                                img(src="metis-assets/icons/instagram-blue.svg", alt="")
            section(class="py-12 md:py-32 overflow-x-hidden")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap lg:flex-nowrap")
                        div(class="flex w-full lg:w-1/2 lg:max-w-lg lg:h-128 px-4 lg:pl-16")
                            div(class="my-auto mx-auto pt-8 lg:pt-0 max-w-2xl lg:max-w-lg")
                                h2(class="text-3xl md:text-4xl mb-4 font-bold font-heading")
                                    span Verstehe
                                    |                   
                                    span(class="text-blue-600") deine
                                    |                   
                                    span Hörer.
                                p(class="text-blueGray-400 leading-loose mb-6") Geo- und Soziodemographische Daten wie Alter, Geschlecht und Stadt.
                                |       
                                a(class="inline-block py-4 px-8 text-xs text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Mehr erfahren
                        div(class="relative w-full lg:w-1/2 my-12 lg:my-0")
                            img(class="relative mx-auto rounded-xl w-full z-10 shadow-2xl", src="images/Screenshot-2023-03-20-at-21-09-09.png", alt="")
                            img(class="absolute top-0 left-0 w-40 -ml-12 -mt-12", src="metis-assets/elements/blob-tear.svg", alt="")
                            img(class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12", src="metis-assets/elements/blob-tear.svg", alt="")
            section(class="py-12 md:py-32 overflow-x-hidden bg-blueGray-50")
                div(class="container px-4 mx-auto")
                    div(class="flex flex-wrap lg:flex-nowrap")
                        div(class="relative w-full lg:w-1/2 order-1 lg:order-0 my-12 lg:my-0")
                            img(class="relative mx-auto rounded-xl w-full z-10 shadow-2xl", src="images/Screenshot-2023-03-20-at-21-10-25.png", alt="")
                            img(class="absolute top-0 left-0 w-40 -ml-12 -mt-12", src="metis-assets/elements/blob-tear.svg", alt="")
                            img(class="absolute bottom-0 right-0 w-40 -mr-12 -mb-12", src="metis-assets/elements/blob-tear.svg", alt="")
                        div(class="flex order-1 lg:order-0 w-full lg:w-1/2 lg:h-128 lg:max-w-lg lg:ml-auto px-4 lg:pr-24 xl:pr-4")
                            div(class="my-auto mx-auto pt-8 lg:pt-0 max-w-2xl lg:max-w-lg")
                                h2(class="text-3xl md:text-4xl mb-4 font-bold font-heading")
                                    span(class="text-blue-600") Spotify und Apple
                                    |                     
                                    span       Alles an einem Ort.
                                p(class="text-blueGray-400 leading-loose mb-6") Wir importieren Echtzeitdaten aller großen Podcast Anbieter und ermöglichen historische Analysen. Einfach, schnell und verständlich. Deine persönliche DSGVO-Konforme Datenbank.
                                |       
                                a(class="inline-block py-4 px-8 text-xs text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Mehr erfahren
            section(class="py-12 md:pt-20 md:pb-12")
                div(class="container px-4 mx-auto")
                    div(class="max-w-lg mx-auto mb-8 text-center", contenteditable="false")
                        span(class="inline-block text-xs py-1 px-3 text-blue-700 font-semibold bg-blue-100 rounded-xl", contenteditable="false") Volle Übersicht
                        h2(class="my-3 text-3xl md:text-4xl text-blueGray-900 font-bold font-heading", contenteditable="false")
                            | Deine 
                            span(class="text-blue-600", contenteditable="false") Top Episoden
                            |  auf einen Blick.
                        p(class="text-blueGray-400", contenteditable="false") Keine aufwändigen manuellen Vergleiche mehr. Alle Daten zur Formatentwicklung: Episodenperformance im Vergleich und Lieblingsthemen deiner Hörer⋅innen.
                    div(class="relative max-w-6xl mx-auto")
                        img(src="metis-assets/elements/macbook.png", alt="")
                        div(class="absolute", style="top: 5.8%; left: 14.6%; width: 72.8%; height: 76.7%;")
                            img(class="object-cover w-full h-full", src="images/Screenshot-2023-03-20-at-21-11-09.png", alt="")
            section(class="py-20 xl:bg-contain bg-top bg-no-repeat", style="background-image: url('metis-assets/backgrounds/intersect.svg');")
                div(class="container px-4 mx-auto")
                    div(class="text-center mb-16")
                        h2(class="max-w-lg mx-auto mb-4 text-4xl font-bold font-heading", contenteditable="false")
                            span(contenteditable="false")
                                | Wir wachsen mit dir.
                                br
                            |             
                            span(class="", contenteditable="false") Von Podcast
                            |             
                            span(class="text-blue-600", contenteditable="true") Starter 
                            | bis 
                            span(class="text-blue-600") Profi
                            | .
                            |           
                        p(class="max-w-sm mx-auto text-lg text-blueGray-400", contenteditable="false")
                            br
                    div(class="flex flex-wrap -mx-3")
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6")
                            div(class="pt-16 pb-8 px-4 text-center bg-white rounded shadow")
                                img(class="h-20 mb-6 mx-auto", src="metis-assets/illustrations/people.png", alt="")
                                h3(class="mb-2 text-4xl font-bold font-heading") Creator
                                span(class="text-4xl text-blue-600 font-bold font-heading") Free
                                p(class="mt-2 mb-8 text-blueGray-400") pro Podcast
                                |               
                                div(class="flex flex-col items-center mb-8")
                                    ul(class="text-blueGray-400")
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false") Spotify Import
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false") Analyse-Dashboard
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            span(contenteditable="false")
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            span(contenteditable="false")
                                        li(class="flex")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            span(contenteditable="false")
                                div
                                    a(class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Kostenlos Starten
                        div(class="w-full md:w-1/2 lg:w-1/3 px-3 mb-6")
                            div(class="pt-16 pb-8 px-4 text-center text-white bg-blue-600 rounded shadow")
                                img(class="h-20 mb-6 mx-auto", src="metis-assets/illustrations/job-interview.png", alt="")
                                h3(class="mb-2 text-4xl font-bold font-heading") Plus
                                span(class="text-4xl font-bold font-heading") 49 EUR/Podcast
                                p(class="mt-2 mb-8") pro Monat
                                |               
                                div(class="flex flex-col items-center mb-8")
                                    ul
                                        li(class="flex items-center mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false")
                                                span(contenteditable="false")
                                                    | Spotify 
                                                    span Import
                                        li(class="flex items-center mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false")
                                                | Apple Music 
                                                span(contenteditable="false") Import
                                        li(class="flex items-center mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false") Analyse-Dashboard
                                        li(class="flex items-center mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false") E-Mail Support
                                        li(class="flex")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                            span(contenteditable="false")
                                div
                                    a(class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-blue-600 font-semibold leading-none bg-white hover:bg-blueGray-50 rounded", href="#") Jetzt Starten
                        div(class="w-full lg:w-1/3 px-3 mb-6")
                            div(class="pt-16 pb-8 px-4 text-center bg-white rounded shadow", contenteditable="false")
                                img(class="h-20 mb-6 mx-auto", src="metis-assets/illustrations/team-management.png", alt="")
                                h3(class="mb-2 text-4xl font-bold font-heading") Professional
                                span(class="text-4xl text-blue-600 font-bold font-heading") 199 EUR/Podast
                                p(class="mt-2 mb-8 text-blueGray-400") pro Monat
                                |               
                                div(class="flex flex-col items-center mb-8")
                                    ul(class="text-blueGray-400")
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false")
                                                span(contenteditable="true")
                                                    span(contenteditable="false")
                                                        | Spotify 
                                                        span Import
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false")
                                                span(contenteditable="true")
                                                    | Apple Music 
                                                    span(contenteditable="false") Import
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false")
                                                span(contenteditable="true") Analyse-Dashboard
                                        li(class="flex mb-3")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false") API Zugang zur Integration 
                                        li(class="flex")
                                            svg(class="w-6 h-6 mr-2 text-green-500", xmlns="http://www.w3.org/2000/svg", fill="none", viewbox="0 0 24 24", stroke="currentColor")
                                                path(stroke-linecap="round", stroke-linejoin="round", stroke-width="2", d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
                                            span(contenteditable="false") E-Mail Support 
                                div
                                    a(class="block sm:inline-block py-4 px-6 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", href="#") Kontaktiere Uns
            section(class="py-20 bg-top bg-no-repeat", style="background-image: url('metis-assets/elements/blob.svg');")
                div(class="container px-4 mx-auto")
                    div(class="relative py-20 px-4 lg:p-20")
                        div(class="absolute top-0 left-0 -mt-8")
                            img(class="h-16", src="metis-assets/elements/dots-left.svg", alt="")
                        div(class="max-w-lg mx-auto text-center")
                            h2(class="mb-4 text-3xl lg:text-4xl font-bold font-heading")
                                span(contenteditable="false") Unverbindlich für unser
                                |               
                                span(class="text-blue-600", contenteditable="false")                 Beta-Programm
                                |               
                                span(contenteditable="false") anmelden.
                            p(class="mb-8 text-blueGray-400", contenteditable="false")
                                | Wir melden uns bei dir!
                                br
                            div(class="flex flex-wrap max-w-md mx-auto")
                                button(class="w-full py-4 px-8 text-white font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded", type="submit") Zum Beta-Programm Anmelden
                        div(class="absolute bottom-0 right-0")
                            img(class="h-16", src="metis-assets/elements/dots-right.svg", alt="")
